.modalContainer {
  overflow-y: auto;
}

.searchInput > input {
  width: 90%;
  margin: 20px 0;
  height: 44px;
  background: #f1f1f1;
  box-shadow: inset -2px 2px 4px rgba(204, 207, 207, 0.2),
    inset 2px -2px 4px rgba(204, 207, 207, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.9),
    inset 2px 2px 5px rgba(204, 207, 207, 0.9);
  border-radius: 10px;
  font-size: 16px;
}

.searchHeader {
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
}

.backIcon {
  width: 40px;
  height: 20px;
}
